* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #52b788;
}

.jumbotron{
    background-image: url("img/ikan.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    padding-top: 50px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }

  /***services**/

#facilities {
    padding: 30px 0px;
}

#facilities h1 {
    font-weight: 900;
    padding-bottom: 5px;

}

.title {
    padding: 25px 0px;
}

.card {
    margin: 20px 10px;
}

